<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" class="form-input mx-2" type="text" value="{{post.title}}" />
      <textarea name="post-text" class="form-textarea mx-2 mb-2" rows="5">{{post.text}}</textarea>
    </div>
    <div>
      <a href="/post/{{post.id}}" class="mx-2">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit" class="btn mx-2">Save</button>
    <button type="button" class="delete-post-btn btn mx-2">Delete</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body" class="mx-2 mt-2 form-textarea" rows="5"></textarea>
  </div>

  <div>
    <button type="submit" class="mx-2">Add Comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>